@import '~@/styles/base.less';

// ********* menu *********
.head-menus-bg {
  width: 100%;
  height: @menu-height  !important;
  background-color: @color-blue-A;

  .head-menus {
    width: @width;
    min-width: @min-width;
    height: @menu-height  !important;
    margin: 0 auto;

    .menus {
      width: 100%;
      height: @menu-height  !important;
      line-height: @menu-height;

      &.el-menu.el-menu--horizontal {
        border-bottom: none;
      }
    }
  }
}

.el-submenu {
  height: @menu-height  !important;
  line-height: @menu-height  !important;

  .el-submenu__title {
    height: @menu-height  !important;
    line-height: @menu-height  !important;
    border: none !important;

    .el-icon-arrow-up {
      transform: translateY(5px);
    }

    .el-icon-arrow-down {
      transform: translateY(3px);
    }

    &:hover {
      font-size: 16px !important;
      background: rgb(36, 107, 221) !important;

      .el-icon-arrow-up {
        color: @color-white;
      }

      .el-icon-arrow-down {
        color: @color-white;
      }
    }
  }

  &.is-active {
    .el-submenu__title {
      font-weight: bold;
      font-size: 16px !important;

      .el-icon-arrow-up {
        color: @color-white;
      }

      .el-icon-arrow-down {
        color: @color-white;
      }

      .title-text {
        position: relative;

        &::after {
          position: absolute;
          width: 20px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -8px;
          height: 4px;
          border-radius: 4px;
          background-color: @color-white;
          content: "";
          overflow: hidden;
          font-family: element-icons !important;
        }
      }

    }
  }
}

.el-menu-item {
  background-color: @color-white  !important;
  color: @color-black  !important;

  &.is-active {
    font-weight: bold;
    color: @color-blue  !important;
  }

  &:hover {
    color: @color-blue  !important;
    font-weight: bold;
  }
}

.el-menu--popup {
  background-color: @color-white  !important;
}

// .head-menu {
//   height: 45px ;
//   background-color: @color-blue-A ;
//   color:@color-white;
//   font-size: 16px;
//   font-weight: 400;
//   margin: 0 ;
//   box-shadow:none;
//   display: flex;

//   .menu-item {
//     padding: 0 33px;
//     height: 45px;
//     line-height: 45px;
//     text-align: center;
//     color: @color-white;
//     border-bottom: 2px solid @color-blue-A;
//     overflow: hidden;
//   }

//   .menu-item span {
//     display:  inline-block;
//     font-size: 16px;
//     font-weight: 400;
//     text-align: center;
//     border-bottom: 2px solid @color-blue-A;
//   }

//   .menu-item span:hover {
//     font-size: 18px;
//     font-weight:bold;
//   }
//   .menu-item span::before {
//       display: block;
//       font-size: 18px;
//       font-weight: 400;
//       content: attr(title);
//       height: 0;
//       overflow: hidden;
//       visibility: hidden;
//       border-bottom: 2px solid @color-white;
//   }

//   .menu-item:hover {
//     font-size: 18px;
//     font-weight: 400;
//     border-bottom: 2px solid @color-white;
//   }

//   .menu-item:hover  {
//     border-bottom: 2px solid @color-white;
//   }

//   .menu-item:hover span{
//     font-size: 18px;
//     font-weight: 400;
//   }

//   .item-active {
//     font-size: 18px !important;
//     font-weight: bold !important;
//     border-bottom: 2px solid @color-white;
//   }

//   .un-action{
//     font-size: 16px;
//     font-weight: 400;
//   }
// }